body{
    background: linear-gradient(to right, #00093d, #f64f59);
}
table.tbl{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 0.75rem;
}
input[type="button"]{
    color: black;
    cursor: pointer;
    background-color: white;
    font-size: 2em;
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
    margin: 10px 60px 10px 0px;
    border-radius: 1rem;
}
input[type="button"]:hover{
    background-color: #633e6e;
    transition: all ease-in-out 0.13s;
}
input[type="text"]{
    color: black;
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 2em;
    width: 100%;
    border-radius: 1rem;
}
#clear{
    background: #ff9fa8;
    border: 1px solid #ff9fa8;
}
#clear:hover{
    background-color: #c98d93;
    transition: all ease-in-out 0.13s;
}